:root{
    --header-height: 2rem;
    --nav-width: 68px;
    
    --first-color:rebeccapurple;
    --first-color-alt:#edbef6;
    --white-color :#ebe9eb;
    --color-back :rebeccapurple;
    --color :#ffffff;
   
}


.dark{
    --first-color:#111;
    --first-color-alt:rgb(156,156,156);
    --white-color :#585358; 
    --color-back :#111;
    --color :#ffffff;
}

.App{
    background-color: var(--color-back);
    color:var(--color);
    
}


  